.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.header{
    background-image: url('images/developer.png'), url('images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left,bottom right;
    
    
}
/*Shared Style*/

.secondary-bg{
    background-color: #FFF8F3;
}

.text-primary{
    color: #FD6E0A;
}

.dark-2{
    color: #474747;
}
.dark-1{
    color: #181818;
}

.btn-primary{
    background-color: #FD6E0A;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    padding: 18px 35px;
}

/* Nav Styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
   
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}

/*Banner */
.banner{
    display: flex;
    justify-content: space-between;
}
.banner-content{
   max-width: 580px;
   margin: 0px 35px 0px 200px;
}
.banner-greetings{
    font-weight: 600;
    font-size: 45px;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner-profile-pic{
    width: 700px;
    height: 710px;
    object-fit: cover;
}

/* About US */
.about-secondary-bg{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 130px 230px;
    text-align: center;
    padding: 100px;
    background-color: #FFF8F3;
    border-radius: 10px;
}
.about-secondary{
    background-color: #FFFFFF;
    border: solid 1px black;
    margin:0px 3px;
    border-radius: 5px;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
}
.section-description{
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    margin-top: 30px;
}
.about{
    border-radius: 10px;
    
}
.about-f{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    text-align: center;
    margin: 0px 15px;
    gap: 5px;
    color: #2c2c2c;
}
.about-f h5{
    font-weight: bold;
    color: #474747;
}
/* section-what */
.section-what{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.section-what h5{
    margin: 0px 716px;
    font-weight: bold;
    font-size: 35px;
    color: #181818;
}

.section-what p{
    margin: 30px 345px 50px 345px;
    font-size: 18px;
    color: #757575;
}